<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>주문고객정보</title>
  <!-- js 경로 설정 -->
  <script th:src="@{/js/category.js}"></script>
  <script th:src="@{/js/slider.js}"></script>
  <script th:src="@{/js/member.js}"></script>
  <script th:src="@{/js/main.js}"></script>
  <script th:src="@{/js/order.js}"></script>
  <script th:src="@{/js/findAddress.js}"></script>


  <!-- css 경로 설정 -->
  <link th:href="@{/css/top.css}" rel="stylesheet">
  <link th:href="@{/css/bottom.css}" rel="stylesheet">
  <link th:href="@{/css/main.css}" rel="stylesheet">
  <link th:href="@{/css/orderCustomerInfo.css}" rel="stylesheet">
</head>
<body>
<div id="wrap">
  <!-- 헤더 -->
  <th:block th:replace="~{/module/top.html}"></th:block>
  <!-- 상단 -->

  <div>
    <div class="text-center my-5">
      <h2 class="fw-bold">주문 정보</h2>
    </div>
    <!-- 중단 : 고객 정보 -->
    <div class="d-flex justify-content-center">
      <!-- 단일 주문 -->
      <form th:if="${orderType == 'single'}"
            th:action="@{'/order/' + ${productId}}"
            method="post"
            class="w-75"
            onsubmit="return showSuccessAlert()">
        <div th:replace="~{/fragments/orderFormCommon :: content}"></div>
      </form>

      <!-- 장바구니 주문 -->
      <form th:if="${orderType == 'cart'}"
            th:action="@{/order}"
            method="post"
            class="w-75"
            onsubmit="return showSuccessAlert()">
        <div th:replace="~{/fragments/orderFormCommon :: content}"></div>
      </form>

      <!-- 직접 주문 -->
      <form th:if="${orderType == 'direct'}"
            th:action="@{/order/direct}"
            method="post"
            class="w-75"
            onsubmit="return showSuccessAlert()">
        <div th:replace="~{/fragments/orderFormCommon :: content}"></div>
      </form>
    </div>

    <!-- 푸터 -->
    <th:block th:replace="~{/module/bottom.html}"></th:block>
  </div>
</body>
</html>